<h3>Create Workout</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="workout.name" name="name">
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" required [(ngModel)]="workout.type" name="type">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newWorkout()">Add</button>
</div>
